@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.primary-color{
  background-color: rgb(239 68 68);
}
.second-color{
  background-color: rgb(254 226 226 );
}
.text-color-primary{
  color: rgb(239 68 68);
}
.background-rotate{
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 64px ;
  @media screen and (max-width: 1024px) {
    padding: 0 12px;
  }
}
